<h1>Gradelist students</h1>
<br>
<table>
  <tr>
    <th>Name</th>
    <th>Grade</th>
  </tr>

  <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>

        <td>
          <ul>
            <% student.studentgrades.each do |grade| %>
                <li><%= grade.grade %></li>
            <% end %>
          </ul>
        </td>
      </tr>
  <% end %>
</table>

<br />
